---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import ArtsHero from '../../components/ArtsHero.astro';
import ArtsHorizontalList from '../../components/ArtsHorizontalList.astro';
import ArtsProductGrid from '../../components/ArtsProductGrid.astro';
import ArtsLifestyle from '../../components/ArtsLifestyle.astro';
import BrandMarquee from '../../components/BrandMarquee.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="Arts & Crafts | Creative Aerosol Solutions">
	<Header />
	<main>
		<ArtsHero />
		<ArtsHorizontalList />
        <BrandMarquee />
        <ArtsLifestyle />
        <ArtsProductGrid />
	</main>
	<Footer />
</Layout>

<style>
	main {
		overflow-x: hidden;
		background: #fff;
	}
</style>
